@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 171%;
}

.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-btn {
    background-color: var(--black-color);
    color: #FFFFFF;
    font-family:  "Inter", sans-serif;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
}
