@import '../var';

.best {
    margin-bottom: 100px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 48px;
    }
}

@media (max-width: 1100px) {
    .best {
        &__inner {
            grid-column-gap: 15px;
            grid-row-gap: 30px;
        }
    }
}

@media (max-width: 900px) {
    .best {
        &__inner {
        grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 600px) {
    .best {
        &__inner {
        grid-template-columns: repeat(2, 1fr);
        }
    }
}