@import '../var';

.footer {
    background-color: #141718;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 32px;
    .footer-top {
        border-bottom: 0.50px solid #6C7275;
        display: flex;
        align-items: center;
        padding-bottom: 49px;
        .footer-top__title {
            display: flex;
            align-items: center;
            gap: 32px;
            .divider {
                color: #6C7275;
            }
            .footer-top__logo {
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
            }
            .footer-top__text {
                font-size: 14px;
                line-height: 157%;
                color: #E8ECEF;
                font-family: "Inter", sans-serif;
            }
        }
        
        .footer-top__menu {
            margin-left: auto;
        }
        .footer-top__list {
            display: flex;
            align-items: center;
            gap: 40px;
            
        }
        .footer-top__list-link {
            color: #FEFEFE;
            font-size: 14px;
            line-height: 157%;
            font-family: "Inter", sans-serif;
        }
    }
    
    .footer-bottom {
        display: flex;
        align-items: center;
        gap: 28px;
        padding-top: 16px;
        padding-bottom: 20px;
        .footer-bottom__text {
            text-align: center;
        }
        .footer-bottom__links {
            display: flex;
            align-items: center;
            gap: 28px;
        }
        .social__list {
            display: flex;
            align-items: center;
            margin-left: auto;
            gap: 24px;
        }
    }
    
}

@media (max-width: 900px) {
    .footer {
        .footer-top {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .footer-top__menu {
                margin-left: 0;
                margin-top: 30px;
            }
        }

        .footer-bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .social__list {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {
        padding-top: 50px;
        .footer-top {
            .footer-top__title {
                gap: 15px;
            }
            .footer-top__list {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
