@import '../var';

.header {
    background-color: var(--yellow-color);
    
    &__inner {
        padding: 18px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .logo {
            font-weight: 500;
            font-family: "Poppins", sans-serif;;
            font-size: 24px;
            line-height: 100%;
        }
        .menu {
            font-family: "Space Grotesk", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 171%;
            color: var(--black-color);
            &__list {
                display: flex;
                gap: 40px;
                align-items: center;
            }
            
        }
        
        .header__buttons {
            display: flex;
            align-items: center;
            gap: 16px;
            img {
                width: 24px;
                height: 24px;
            }
            button {
                border: none;
            }
            .search-form {
                display: flex;
                .search-form__input {
                    display: none;
                    width: 0;
                    height: 0;
                }
                &.active {
                    position: absolute;
                    left: 0;
                    right: 52px;
                    top: 9px;
                    background-color: var(--yellow-color);
                    border: 1px solid var(--black-color);
                    border-radius: 10px;
                    .search-form__btn {
                        position: absolute;
                        right: 10px;
                        top: 9px;
                    }
                    .search-form__input.active {
                        display: block;
                        width: 70%;
                        height: 40px;
                        background-color: transparent;
                        margin-right: 10px;
                        padding: 5px;
                        border: none;
                    }
                }
            }
            
            .basket-btn {
                display: flex;
                align-items: center;
                gap: 2px;
                .basket-btn__num {
                    display: none;
                    width: 20px;
                    height: 20px;
                    background-color: var(--black-color);
                    border-radius: 100%;
                    color: #fff;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    &.active {
                        display: block;
                    }
                }
            }
            
        }

        .menu-btn {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            display: none;
            span {
                background-color: var(--black-color);
                width: 100%;
                height: 3px;
            }
        }
    }
    
}

@media (max-width: 800px) {
    .header {
        &__inner {
            justify-content: flex-end;
            .menu {
                margin-left: auto;
                &__list {
                    flex-direction: column;
                    position: absolute;
                    transform: translateY(-200%);
                    transition: all 0.3s;
                    gap: 0;
                    &.active {
                        padding: 20px 0 10px;
                        transform: translateY(0);
                        background-color: var(--yellow-color);
                        position: absolute;
                        left: -10px;
                        right: -10px;
                        top: 0;
                        z-index: 10;
                        .menu__list-item {
                            border-bottom: 1px solid var(--black-color);
                            width: 100%;
                            text-align: center;
                            &:last-child  {
                                border-bottom: none;
                            }
                        }
                        .menu__list-link {
                            padding: 10px 0;
                            display: block;
                            width: 100%;
                        }

                    }
                }
            }

            .header__buttons {
                margin-right: 60px;
            }
            .menu-btn {
                display: flex;
                margin-left: 30px;
                position: absolute;
                top: 18px;
                right: 10px;
                z-index: 12;
            }
        }
    }
}

